body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#visualization {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Added to position buttons absolutely */
}

.scene {
    width: 90%;
    height: 100%;
}

.annotation {
    font-size: 12px;
    font-weight: bold;
    fill: black;
}

.annotation-note-title {
    font-size: 14px;
    font-weight: bold;
}

.annotation-note-label {
    font-size: 12px;
}

.navigation {
    text-align: center;
    position: absolute; /* Changed to absolute positioning */
    top: 800px; /* Positioned 10% from the bottom */
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
}

#variableDropdown {
    padding: 10px;
    font-size: 16px;
}

